# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="D3t1NcRV8fvIMNvSthR5wx3lU8Cj81x5ffbKWolUTGc="
NEXTAUTH_URL="http://localhost:3000"
